--
-- PostgreSQL database dump
--

\restrict j7H9hAesmmEhxTF7qdCoF8O3hh9ur95JvseQbi5Zjt8JUDot9P0gvoBxV8BcahR

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: kavya
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      BEGIN
        NEW.updated_at = CURRENT_TIMESTAMP;
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO kavya;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: lessonplayer; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.lessonplayer (
    lesson_id integer NOT NULL,
    lesson_slide_id integer NOT NULL,
    lesson_id_string character varying(10),
    order_index integer NOT NULL,
    content_type character varying(20) DEFAULT 'Slide'::character varying,
    sanskrit text NOT NULL,
    word text NOT NULL,
    transliteration character varying(255) NOT NULL,
    meaning text NOT NULL,
    example_meaning text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lessonplayer OWNER TO kavya;

--
-- Name: lessons; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.lessons (
    id integer NOT NULL,
    lesson_id character varying(10) NOT NULL,
    lesson_number integer NOT NULL,
    title_sanskrit text NOT NULL,
    title_english text NOT NULL,
    difficulty_level character varying(50) DEFAULT 'Beginner'::character varying,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.lessons OWNER TO kavya;

--
-- Name: lessons_id_seq; Type: SEQUENCE; Schema: public; Owner: kavya
--

CREATE SEQUENCE public.lessons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lessons_id_seq OWNER TO kavya;

--
-- Name: lessons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kavya
--

ALTER SEQUENCE public.lessons_id_seq OWNED BY public.lessons.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    user_id integer,
    token character varying(500) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.password_reset_tokens OWNER TO kavya;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: kavya
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO kavya;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kavya
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    user_id integer,
    token character varying(500) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    revoked boolean DEFAULT false
);


ALTER TABLE public.refresh_tokens OWNER TO kavya;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: kavya
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO kavya;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kavya
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: user_progress; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.user_progress (
    id integer NOT NULL,
    user_id integer,
    xp integer DEFAULT 0,
    completed_lessons text[] DEFAULT ARRAY[]::integer[],
    unlocked_lessons text[] DEFAULT ARRAY[1],
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.user_progress OWNER TO kavya;

--
-- Name: user_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: kavya
--

CREATE SEQUENCE public.user_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_progress_id_seq OWNER TO kavya;

--
-- Name: user_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kavya
--

ALTER SEQUENCE public.user_progress_id_seq OWNED BY public.user_progress.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: kavya
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(255),
    role character varying(50) DEFAULT 'student'::character varying,
    email_verified boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    username character varying(255),
    email_notification_preference character varying(32) DEFAULT 'none'::character varying,
    CONSTRAINT users_email_notification_preference_check CHECK (((email_notification_preference)::text = ANY ((ARRAY['none'::character varying, 'reminder'::character varying, 'weekly'::character varying, 'updates'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO kavya;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: kavya
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO kavya;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kavya
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: lessons id; Type: DEFAULT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.lessons ALTER COLUMN id SET DEFAULT nextval('public.lessons_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: user_progress id; Type: DEFAULT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.user_progress ALTER COLUMN id SET DEFAULT nextval('public.user_progress_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: lessonplayer; Type: TABLE DATA; Schema: public; Owner: kavya
--



--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: kavya
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: kavya
--

COPY public.password_reset_tokens (id, user_id, token, expires_at, used, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: kavya
--



--
-- Data for Name: user_progress; Type: TABLE DATA; Schema: public; Owner: kavya
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: kavya
--



--
-- Name: lessons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kavya
--

SELECT pg_catalog.setval('public.lessons_id_seq', 10, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kavya
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kavya
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 86, true);


--
-- Name: user_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kavya
--

SELECT pg_catalog.setval('public.user_progress_id_seq', 17, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kavya
--

SELECT pg_catalog.setval('public.users_id_seq', 17, true);


--
-- Name: lessonplayer lessonplayer_lesson_id_lesson_slide_id_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.lessonplayer
    ADD CONSTRAINT lessonplayer_lesson_id_lesson_slide_id_key UNIQUE (lesson_id, lesson_slide_id);


--
-- Name: lessons lessons_lesson_id_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_lesson_id_key UNIQUE (lesson_id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_token_key UNIQUE (token);


--
-- Name: user_progress user_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_pkey PRIMARY KEY (id);


--
-- Name: user_progress user_progress_user_id_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_lessonplayer_lesson_id; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_lessonplayer_lesson_id ON public.lessonplayer USING btree (lesson_id);


--
-- Name: idx_lessonplayer_lesson_id_string; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_lessonplayer_lesson_id_string ON public.lessonplayer USING btree (lesson_id_string);


--
-- Name: idx_lessons_lesson_id; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_lessons_lesson_id ON public.lessons USING btree (lesson_id);


--
-- Name: idx_lessons_lesson_number; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_lessons_lesson_number ON public.lessons USING btree (lesson_number);


--
-- Name: idx_password_reset_tokens_token; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_password_reset_tokens_token ON public.password_reset_tokens USING btree (token);


--
-- Name: idx_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: idx_refresh_tokens_expires_at; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_refresh_tokens_expires_at ON public.refresh_tokens USING btree (expires_at);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: idx_user_progress_user_id; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_user_progress_user_id ON public.user_progress USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_email_notification_preference; Type: INDEX; Schema: public; Owner: kavya
--

CREATE INDEX idx_users_email_notification_preference ON public.users USING btree (email_notification_preference);


--
-- Name: user_progress update_user_progress_updated_at; Type: TRIGGER; Schema: public; Owner: kavya
--

CREATE TRIGGER update_user_progress_updated_at BEFORE UPDATE ON public.user_progress FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: kavya
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_progress user_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kavya
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict j7H9hAesmmEhxTF7qdCoF8O3hh9ur95JvseQbi5Zjt8JUDot9P0gvoBxV8BcahR

